@import '../../styles/variables';

.input {
  padding: 8px 16px;
  outline: none;
  border-radius: 6px;
  border: 1px solid $gray-400;
  color: $gray-900;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  &:focus {
    border-color: $gray-700;
  }

  &:disabled {
    border-color: transparent;
    background-color: transparent;
    padding: 8px 0;
  }

  &_search {
    width: 100%;

    &:focus {
      border-color: $gray-500;
    }
  }

  &_valid {
    border-color: $gray-400;
  }

  &_invalid {
    border-color: $red;
  }
}

.label {
  margin-right: 10px;
  font-weight: 500;
  white-space: nowrap;
}
