@import '../../styles/variables';

.button {
  padding: 8px 16px;
  outline: none;
  cursor: pointer;

  &_primary {
    border: 1px solid;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
  }

  &_unfilled {
    border: 0;
    background-color: transparent;
    color: $blue-dark;

    &:hover {
      color: $blue-light;
    }
  }
}
