@import '../../styles/variables';

.contactItem {
  border: 1px solid $gray-300;
  border-radius: 6px;
  background-color: $white;
  text-decoration: none;
  padding: 10px 15px;
  display: flex;

  &:hover {
    box-shadow: 0px 2px 8px 0px $black-150;
  }

  &__avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid $gray-500;
    margin-right: 15px;
  }

  &__noPhoto {
    height: 50px;
    border-radius: 50%;
    border: 2px solid $gray-500;
    background-color: $gray-700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex: 50px 0 0;
    margin-right: 15px;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
  }

  &__dataWrapper {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 18px;
    font-weight: 700;
    color: $black;
  }

  &__phone {
    display: block;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: $gray-500;
  }
}

@media (min-width: $sm) {
  .contactItem {
    &__name {
      max-width: unset;
    }
  }
}

@media (min-width: $md) {
  .contactItem {
    &__name {
      max-width: 253px;
    }
  }
}

@media (min-width: $lg) {
  .contactItem {
    &__name {
      max-width: 210px;
    }
  }
}

@media (min-width: $xl) {
  .contactItem {
    &__name {
      max-width: 275px;
    }
  }
}

@media (min-width: $xxl) {
  .contactItem {
    &__name {
      max-width: 215px;
    }
  }
}
