$white: #ffffff;
$black: #000000;
$blue-dark: #0a84ff;
$blue-light: #419fff;
$red: #ff3b30;
$green: #34c759;

$gray-100: #f2f2f7;
$gray-200: #e5e5ea;
$gray-300: #d1d1d6;
$gray-400: #c7c7cc;
$gray-500: #aeaeb2;
$gray-600: #8e8e93;
$gray-700: #636366;
$gray-800: #48484a;
$gray-900: #3a3a3c;

$black-150: rgba(0, 0, 0, 0.15);

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$width-sm: 540px;
$width-md: 720px;
$width-lg: 960px;
$width-xl: 1140px;
$width-xxl: 1320px;
