@import '../../styles/variables';

.contactView {
  padding: 30px 0;

  &__inner {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto;
  }

  &__dataWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid $gray-300;
    border-radius: 6px;
    background-color: $white;
    padding: 10px 15px;
    flex: 1 0;
    margin: 0 10px;
  }

  &__title {
    font-weight: 600;
    margin-right: 10px;
  }

  &__value {
    min-width: 200px;
  }

  &__loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

@media (max-width: $md) {
  .contactView {
    &__inner {
      flex-direction: column;
    }

    &__dataWrapper {
      margin: 0 10px 10px;
    }
  }
}

@media (max-width: $sm) {
  .contactView {
    &__dataWrapper {
      margin: 0 0 10px;
      flex-wrap: wrap;
    }

    &__value {
      min-width: unset;
    }
  }
}
