@import '../../styles/variables';

.headerView {
  background-color: $white;
  box-shadow: 0px 10px 5px -7px $black-150;

  &__inner {
    position: relative;
    padding-top: 10px;
    padding-bottom: 20px;
    transition: all 0.3s linear;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__editLink {
    color: $green;
  }

  &__backLink,
  &__editLink {
    width: 30px;
    height: 30px;
    padding: 0 !important;
    border: 0;
    position: absolute;
    top: 7px;
  }

  &__backLink {
    left: 0;
  }

  &__editLink {
    right: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $gray-500;
    object-fit: cover;
  }

  &__noPhoto {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $gray-500;
    background-color: $gray-700;
    font-size: 26px;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
  }

  &__username {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
  }
}

@media (min-width: $sm) {
  .headerView {
    &__avatar,
    &__noPhoto {
      width: 100px;
      height: 100px;
    }
  }
}

@media (min-width: $md) {
  .headerView {
    &__avatar,
    &__noPhoto {
      width: 150px;
      height: 150px;
    }

    &__username {
      font-size: 27px;
    }

    &__noPhoto {
      font-size: 60px;
    }
  }
}

@media (min-width: $lg) {
  .headerView {
    &__avatar,
    &__noPhoto {
      width: 200px;
      height: 200px;
    }
  }
}

@media (min-width: $xl) {
  .headerView {
    &__avatar,
    &__noPhoto {
      width: 250px;
      height: 250px;
    }
  }
}

@media (min-width: $xxl) {
  .headerView {
    &__avatar,
    &__noPhoto {
      width: 300px;
      height: 300px;
    }
  }
}

@media (max-width: $sm) {
  .headerView {
    &__backLink {
      left: 10px;
    }

    &__editLink {
      right: 10px;
    }
  }
}
